body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header, .hero, .footer {
    color: #e5e7eb;
    background-color: #1f2937;
}

.header {
    font-size: 18px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    gap: 8px; /* gap between image and text */
    padding: 64px;
}

.hero div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.hero p {
    font-size: 18px;
}

.hero img {
    width: 400px;
    height: 200px;
}

button {
    background-color: #3882f6;
    color: white;
    border: 4px none;
    padding: 4px 24px;
    border-radius: 6px;
    font-weight: bold;
}

.action-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px;
    padding: 32px 64px;
    border-radius: 6px;
}

.action-call h3, p {
    margin: 0;
    padding: 0;
}

.action-call button {
    border: 2px solid white;
}

.information {
    text-align: center;
    padding: 32px;
}

.information h2 {
    color: #1f2937;
    font-size: 36px;
}

.placards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.placards img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.placards div {
    display: flex;
    flex: 0 1 0;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    background-color: #e5e7eb;
    padding: 32px;
}

.testimonial quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.testimonial p {
    font-weight: bold;
    text-align: right;
}

.action-call {
    background-color: #3882f6;
    color: #F9FAF8
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}